# NiceGui
.nicegui

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# UV
#   Similar to Pipfile.lock, it is generally recommended to include uv.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#uv.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock
#poetry.toml

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#   pdm recommends including project-wide configuration in pdm.toml, but excluding .pdm-python.
#   https://pdm-project.org/en/latest/usage/project/#working-with-version-control
#pdm.lock
#pdm.toml
.pdm-python
.pdm-build/

# pixi
#   Similar to Pipfile.lock, it is generally recommended to include pixi.lock in version control.
#pixi.lock
#   Pixi creates a virtual environment in the .pixi directory, just like venv module creates one
#   in the .venv directory. It is recommended not to include this directory in version control.
.pixi

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/

# Abstra
# Abstra is an AI-powered process automation framework.
# Ignore directories containing user credentials, local state, and settings.
# Learn more at https://abstra.io/docs
.abstra/

# Visual Studio Code
#  Visual Studio Code specific template is maintained in a separate VisualStudioCode.gitignore 
#  that can be found at https://github.com/github/gitignore/blob/main/Global/VisualStudioCode.gitignore
#  and can be added to the global gitignore or merged into this file. However, if you prefer, 
#  you could uncomment the following to ignore the entire vscode folder
# .vscode/

# Ruff stuff:
.ruff_cache/

# PyPI configuration file
.pypirc

# Cursor
#  Cursor is an AI-powered code editor. `.cursorignore` specifies files/directories to
#  exclude from AI features like autocomplete and code analysis. Recommended for sensitive data
#  refer to https://docs.cursor.com/context/ignore-files
.cursorignore
.cursorindexingignore

# Marimo
marimo/_static/
marimo/_lsp/
__marimo__/
src/storage/cache_videos/vid-0a82ca9f425b5d6d05dd75bc4b479ed7.mp4
src/storage/cache_videos/vid-0cca1bd36a6e4e873fa00d76e6c12145.mp4
src/storage/cache_videos/vid-0f2c1b9dde882bdfe0ff07b8a179144e.mp4
src/storage/cache_videos/vid-1d917b015f26f895828c697b4d5b24e5.mp4
src/storage/cache_videos/vid-1f96dc3e3b7d7315eb541d1404ca3c83.mp4
src/storage/cache_videos/vid-2a16a1b1778adeb087a076cb1d4b6dd4.mp4
src/storage/cache_videos/vid-3c4038d1e12f675f768cadd576dc2820.mp4
src/storage/cache_videos/vid-3eaa7d9771d28245aac196e0fe705b1a.mp4
src/storage/cache_videos/vid-4c7625a865d4fd0ee45eac8ad6f2546a.mp4
src/storage/cache_videos/vid-4deaea23ea0cf2a0753cd57956ff3272.mp4
src/storage/cache_videos/vid-4ef07be7871b11a2138d747c16975147.mp4
src/storage/cache_videos/vid-4f1af8a28b061a5c106788732c4d3ab0.mp4
src/storage/cache_videos/vid-4fef97091bd443825a53e14a8bc17112.mp4
src/storage/cache_videos/vid-5ada4cafd90e74efcc08ceb4ce06e883.mp4
src/storage/cache_videos/vid-6a6621375e22545e9474e5597613de50.mp4
src/storage/cache_videos/vid-6b94a8ac6f93d0d9faf3222e99110c9e.mp4
src/storage/cache_videos/vid-6f302168b53a5803b331e2a75bd151b8.mp4
src/storage/cache_videos/vid-7a619beeca125451abcc23fc22091e94.mp4
src/storage/cache_videos/vid-7ca475de6d484440b50cb591d2c70abb.mp4
src/storage/cache_videos/vid-8deec09939cead8edaab0ad3be3f8e15.mp4
src/storage/cache_videos/vid-8efda026ca17ac945484c6764289ec0f.mp4
src/storage/cache_videos/vid-9eaa13027df6636723b9d62620adb843.mp4
src/storage/cache_videos/vid-9ffc5a58ec4664cd919c870f314b7442.mp4
src/storage/cache_videos/vid-16fc9ee5f4e0e22b50f7409968cc1b92.mp4
src/storage/cache_videos/vid-19f7797e32d87de39d19d3cf523e5a60.mp4
src/storage/cache_videos/vid-24d6d1a664e0f06439ae5f369be6a0af.mp4
src/storage/cache_videos/vid-29ca185209fe9211d12a2c63339495f6.mp4
src/storage/cache_videos/vid-32b6eaf1b97c689876b04b4939489795.mp4
src/storage/cache_videos/vid-032da24c0d2c0b62984819e04f159963.mp4
src/storage/cache_videos/vid-38a50f5724ab5d5797bad8c88be64f50.mp4
src/storage/cache_videos/vid-39c906690a2b44562cdf3a01d4309d7d.mp4
src/storage/cache_videos/vid-48cf8b8c658d981e604912a5a17250b8.mp4
src/storage/cache_videos/vid-49c7e8f7962be3cfcba03c2f3df39573.mp4
src/storage/cache_videos/vid-53f539a7e3b204f060312c4862974bb4.mp4
src/storage/cache_videos/vid-62ac38626758459b632934341c95a52f.mp4
src/storage/cache_videos/vid-87d2dfc7dd2581870bdb2f5835e9a094.mp4
src/storage/cache_videos/vid-88b6413195bc765e9596ef7be866028d.mp4
src/storage/cache_videos/vid-91da7d844f06192e3cfd552a2ba133ef.mp4
src/storage/cache_videos/vid-152f1210555ced57af60eda66151f357.mp4
src/storage/cache_videos/vid-431f4b49b0f97df8e74a2ebaf03fce66.mp4
src/storage/cache_videos/vid-668c670662d6a648001f0a96c8255eaa.mp4
src/storage/cache_videos/vid-694a6637f9d27727018f4f01d0f7ed9d.mp4
src/storage/cache_videos/vid-902e72fb83b8efb6dd6eea5aaa889f07.mp4
src/storage/cache_videos/vid-954c4a8a005f67677b816d894cb0c217.mp4
src/storage/cache_videos/vid-1052a6dd38bd273bd3d8cd5349593088.mp4
src/storage/cache_videos/vid-1248dec7f7283ac077fb76e99b8447d8.mp4
src/storage/cache_videos/vid-5771f7635d61895b8f76e3ae9ca4a7c5.mp4
src/storage/cache_videos/vid-35774ab6414674142514f7aaface6de3.mp4
src/storage/cache_videos/vid-889037b87888fcb4cbaae3ea9628fa69.mp4
src/storage/cache_videos/vid-8905699dd7f438602cc7f75bd4049ce7.mp4
src/storage/cache_videos/vid-9441345c8b93cd7a50bb8d94393697a1.mp4
src/storage/cache_videos/vid-371813133e4632384375fa543bd4ae43.mp4
src/storage/cache_videos/vid-a2fa58fc658f0d614c5a28ba6a8d9606.mp4
src/storage/cache_videos/vid-a4e7ea86705cc0b342bf47517f3f8fb6.mp4
src/storage/cache_videos/vid-a06bf3aaaa3639d49da10dc069af4013.mp4
src/storage/cache_videos/vid-a56f85eaa0a01d987c5282a1d67abc8f.mp4
src/storage/cache_videos/vid-a68a33bd3b3d87bc7ebab8f85ac8d3a7.mp4
src/storage/cache_videos/vid-a423fb7c27ce25caa3e710bd869c79ea.mp4
src/storage/cache_videos/vid-aa1300113cad6a85b8bd4ce8da02bde5.mp4
src/storage/cache_videos/vid-bd5c364d671125f6318e6d0caff099d3.mp4
src/storage/cache_videos/vid-c4347ce86433e171a193eb84ff94dcf7.mp4
src/storage/cache_videos/vid-ca76db6763737688b4dcac10c17e43ea.mp4
src/storage/cache_videos/vid-cf9c1ff9cb9ae30a6280f3dbadf898d6.mp4
src/storage/cache_videos/vid-d1193ca70ceff5381320c70392f3d6d6.mp4
src/storage/cache_videos/vid-d63394e0634e5c5d927e098f28a13e6a.mp4
src/storage/cache_videos/vid-e1c2dd4f758c7ab54e7dde5138f4571d.mp4
src/storage/cache_videos/vid-eb1f0c5cc367534671d5be2b0f4af671.mp4
src/storage/cache_videos/vid-f2f0842c00aeb70cda4077db9762e40f.mp4
src/storage/cache_videos/vid-f24974a31db6d047a54f779413f0edaf.mp4
src/storage/cache_videos/vid-f980877ac073b1c6b83abc84dd1e1811.mp4
src/storage/cache_videos/vid-fc159a217f6ce73c157adb2ee8f635a5.mp4
src/storage/tasks/0553e5a6-f977-40e9-b25a-fe83f5675812/audio.mp3
src/storage/tasks/0553e5a6-f977-40e9-b25a-fe83f5675812/combined-1.mp4
src/storage/tasks/0553e5a6-f977-40e9-b25a-fe83f5675812/final-1.mp4
src/storage/tasks/0553e5a6-f977-40e9-b25a-fe83f5675812/subtitle.srt
src/storage/tasks/133893ba-e748-4ddb-bf2d-1a71ed7001e1/audio.mp3
src/storage/tasks/133893ba-e748-4ddb-bf2d-1a71ed7001e1/combined-1.mp4
src/storage/tasks/133893ba-e748-4ddb-bf2d-1a71ed7001e1/final-1.mp4
src/storage/tasks/133893ba-e748-4ddb-bf2d-1a71ed7001e1/subtitle.srt
src/storage/tasks/22b5b32f-6f19-4f7d-8f52-68347407ce45/audio.mp3
src/storage/tasks/22b5b32f-6f19-4f7d-8f52-68347407ce45/combined-1.mp4
src/storage/tasks/22b5b32f-6f19-4f7d-8f52-68347407ce45/final-1.mp4
src/storage/tasks/22b5b32f-6f19-4f7d-8f52-68347407ce45/subtitle.srt
src/storage/tasks/26e4c0e5-7b18-43cb-9582-70cc0f68e81a/audio.mp3
src/storage/tasks/26e4c0e5-7b18-43cb-9582-70cc0f68e81a/combined-1.mp4
src/storage/tasks/26e4c0e5-7b18-43cb-9582-70cc0f68e81a/subtitle.srt
src/storage/tasks/2c14859e-a09a-4400-ad3d-7527106fec43/audio.mp3
src/storage/tasks/2c14859e-a09a-4400-ad3d-7527106fec43/combined-1.mp4
src/storage/tasks/2c14859e-a09a-4400-ad3d-7527106fec43/final-1.mp4
src/storage/tasks/2c14859e-a09a-4400-ad3d-7527106fec43/subtitle.srt
src/storage/tasks/2fe9eaa5-3ee7-4da7-ade7-7273ff76e8f0/audio.mp3
src/storage/tasks/2fe9eaa5-3ee7-4da7-ade7-7273ff76e8f0/combined-1.mp4
src/storage/tasks/2fe9eaa5-3ee7-4da7-ade7-7273ff76e8f0/final-1.mp4
src/storage/tasks/2fe9eaa5-3ee7-4da7-ade7-7273ff76e8f0/subtitle.srt
src/storage/tasks/3b6177a0-9db5-4c11-b9ef-f00bb3aa2007/audio.mp3
src/storage/tasks/3b6177a0-9db5-4c11-b9ef-f00bb3aa2007/combined-1.mp4
src/storage/tasks/3b6177a0-9db5-4c11-b9ef-f00bb3aa2007/subtitle.srt
src/storage/tasks/4158f7ed-e922-457e-b03c-7b35af005958/audio.mp3
src/storage/tasks/4158f7ed-e922-457e-b03c-7b35af005958/combined-1.mp4
src/storage/tasks/4158f7ed-e922-457e-b03c-7b35af005958/final-1.mp4
src/storage/tasks/4158f7ed-e922-457e-b03c-7b35af005958/subtitle.srt
src/storage/tasks/500d34b2-a62b-4654-9b48-da14f2072bda/audio.mp3
src/storage/tasks/500d34b2-a62b-4654-9b48-da14f2072bda/combined-1.mp4
src/storage/tasks/500d34b2-a62b-4654-9b48-da14f2072bda/final-1.mp4
src/storage/tasks/500d34b2-a62b-4654-9b48-da14f2072bda/subtitle.srt
src/storage/tasks/8c9e17d5-91c1-4d01-ad25-7eb1722a75f1/audio.mp3
src/storage/tasks/8c9e17d5-91c1-4d01-ad25-7eb1722a75f1/combined-1.mp4
src/storage/tasks/8c9e17d5-91c1-4d01-ad25-7eb1722a75f1/final-1.mp4
src/storage/tasks/8c9e17d5-91c1-4d01-ad25-7eb1722a75f1/subtitle.srt
src/storage/tasks/95ffa3d1-8eba-4bdf-9c52-b7db7336c153/audio.mp3
src/storage/tasks/95ffa3d1-8eba-4bdf-9c52-b7db7336c153/subtitle.srt
src/storage/tasks/967ee16f-0b4c-49eb-8980-a349d751cca4/audio.mp3
src/storage/tasks/967ee16f-0b4c-49eb-8980-a349d751cca4/combined-1.mp4
src/storage/tasks/967ee16f-0b4c-49eb-8980-a349d751cca4/final-1.mp4
src/storage/tasks/967ee16f-0b4c-49eb-8980-a349d751cca4/script.json
src/storage/tasks/967ee16f-0b4c-49eb-8980-a349d751cca4/subtitle.srt
src/storage/tasks/bc0779fb-0be5-4f5d-ab6a-7d5a9890c72d/audio.mp3
src/storage/tasks/bc0779fb-0be5-4f5d-ab6a-7d5a9890c72d/combined-1.mp4
src/storage/tasks/bc0779fb-0be5-4f5d-ab6a-7d5a9890c72d/final-1.mp4
src/storage/tasks/bc0779fb-0be5-4f5d-ab6a-7d5a9890c72d/subtitle.srt
src/storage/tasks/cc4e515f-768e-4225-87e8-1b4f9e3fd5fe/audio.mp3
src/storage/tasks/cc4e515f-768e-4225-87e8-1b4f9e3fd5fe/subtitle.srt
src/storage/tasks/e048d47d-52b4-48e6-a74b-116d6746b861/audio.mp3
src/storage/tasks/e048d47d-52b4-48e6-a74b-116d6746b861/combined-1.mp4
src/storage/tasks/e048d47d-52b4-48e6-a74b-116d6746b861/final-1.mp4
src/storage/tasks/e048d47d-52b4-48e6-a74b-116d6746b861/subtitle.srt
src/storage/tasks/e18597d5-3d58-4e68-a3c8-6d1845b440a8/audio.mp3
src/storage/tasks/e18597d5-3d58-4e68-a3c8-6d1845b440a8/combined-1.mp4
src/storage/tasks/e18597d5-3d58-4e68-a3c8-6d1845b440a8/final-1.mp4
src/storage/tasks/e18597d5-3d58-4e68-a3c8-6d1845b440a8/subtitle.srt
src/storage/tasks/eb6eb502-3c56-4f70-a7c4-a21896c6ecce/audio.mp3
src/storage/tasks/eb6eb502-3c56-4f70-a7c4-a21896c6ecce/combined-1.mp4
src/storage/tasks/eb6eb502-3c56-4f70-a7c4-a21896c6ecce/script.json
src/storage/tasks/eb6eb502-3c56-4f70-a7c4-a21896c6ecce/subtitle.srt
src/storage/tasks/eff2a7c2-7c46-4d84-990a-a4ef8d2d5b8e/audio.mp3
src/storage/tasks/eff2a7c2-7c46-4d84-990a-a4ef8d2d5b8e/subtitle.srt
src/storage/tasks/f8f8fe8a-71c8-44b8-82b9-a257b3b431f5/audio.mp3
src/storage/tasks/f8f8fe8a-71c8-44b8-82b9-a257b3b431f5/combined-1.mp4
src/storage/tasks/f8f8fe8a-71c8-44b8-82b9-a257b3b431f5/final-1.mp4
src/storage/tasks/f8f8fe8a-71c8-44b8-82b9-a257b3b431f5/subtitle.srt
src/config.toml
